__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.venv/
venv/
.pytest_cache/
.coverage
.ops0/
cdk.out/
/.idea/misc.xml
/.idea/ops0.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
